.img_box{
    border:3px solid #111;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    height: 310px;
    width: 350px;
}
.img_box img{
    max-width: 350px;
    position:absolute;
    border: 5px solid cornflowerblue;
    top:30px;
    left:40px;
}
h5{
    font-size:20px;
    font-family: 'Lato';
    color: cornflowerblue;
}
p{
    margin-top:20px;
    font-size:18px;
    font-family: sans-serif;
    text-align: justify;
}
.hire_btn {
    margin-top:15px;
}
.hire_btn a{
    text-decoration: none;
    background-color: cornflowerblue;
    color: #ece8e8;
    padding:5px 20px;
    z-index: 0.5s;
    transition: 0.5s;
}
.hire_btn a:hover{
    box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.45);
}
.hire_btn a:active {
    background-color: #ece8e8;
    color: cornflowerblue;
}