@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #ece8e8;
    font-family: 'Lato', sans-serif;
}
img{
    width: 100%;
}
.container{
    width: 90%;
    margin:0 auto;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.left_side{
    width: 48%;
    padding:15px;
}
.right_side{
    width: 48%;
    padding:15px;
    
}
