*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    width:250px;
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
.card{
    
    width: 300px;
    padding:10px;
    background-color: green;
    color: #fff;
    margin:10px 5px;
}
